<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR webpage</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>One-Tine QR Code Generator</h1>
        <p>Enter your text or URL</p>
        <input type="text" placeholder="TEXT OR URL" id="qrText">
        <p id="demo"></p>
        <div id="imgBox">
            <img src="" id="qrImage" style="display:none;">
        </div>
        <button onclick="generateQR()">Generate QR CODE</button>
    </div>

<script>
let imgBox = document.getElementById("imgBox");
let qrImage = document.getElementById("qrImage");
let qrText = document.getElementById("qrText");
let demo = document.getElementById("demo");

function generateQR() {
    if (qrText.value.length > 0) {
        fetch('/generate_qr', {
            method: 'POST',
            body: new URLSearchParams({ 'text': qrText.value }),
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.qr_path) {
                qrImage.src = data.qr_path;
                qrImage.style.display = 'block';
                imgBox.classList.add("show-img");
                demo.innerText = "Your QR Code is ready!";
            } else {
                demo.innerText = "Error generating QR!";
            }
        })
        .catch(error => {
            demo.innerText = "Server error. Try again.";
        });
    } else {
        qrText.classList.add('error');
        setTimeout(() => {
            qrText.classList.remove('error');
        }, 1000);
    }
}
</script>

</body>
</html>
